absl-py==0.1.10
asn1crypto==0.23.0
bleach==1.5.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
conda==4.4.8
cryptography==2.1.4
cycler==0.10.0
futures==3.1.1
fuzzywuzzy==0.16.0
html5lib==0.9999999
idna==2.6
Markdown==2.6.11
matplotlib==2.1.2
numpy==1.14.0
olefile==0.45.1
pandas==0.22.0
Pillow==5.0.0
protobuf==3.5.1
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
ruamel-yaml==0.11.14
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.0
torch==0.3.0.post4
torchvision==0.2.0
urllib3==1.22
Werkzeug==0.14.1
